{% load static %}
{% load tags %}
{% load project_tags %}
<script>
    console.log("gello");
</script>
<div class="detail-img">
    {% show_project_cover_image project %}
    <button class="btn img-arrow left"><</button>
    <button class="btn img-arrow right">></button>
    <button class="btn close-project">X</button> 
</div>
<div class="detail-text">
    <div class="heading-block">
        <h2>{{project.title}}</h2>
        <h4>QUICK DESCRIPTION</h6>
    </div>
    <div class="description">
        <p>{{project.description}}</p>
    </div>
    <div class="tag-list">
        {% show_tags project %}
    </div>
    <div class="learn-more">
        <button class="btn btn-outline-secondary">Learn More</button>
    </div>
</div>