{% extends 'base_page_view.html' %}
{% load static %}

{% block viewcss %}
<!-- Projects CSS -->
<link rel="stylesheet" href="{% static 'projects/dist/css/projects.css' %}">
{% endblock viewcss %}

{% block content %}
{% if project_list %}
<div class="project-main">
    {% for project in project_list %}
    <div id="{{project.id}}" class="project ml-1">
        <img src="{% static 'images/potato.png' %}" alt="">
        <div class="title">{{project.id}}</div>
        <div class="overlay"></div>
        <div class="btn-wrapper">
            <button class="learn-more" onclick='(() => {
                let projectId = this.parentElement.parentElement.id;
                let xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = () => {
                    if (xhttp.readyState == XMLHttpRequest.DONE) {
                        if (xhttp.status == 200) {
                            document.getElementById("myDiv").innerHTML = xhttp.responseText;
                        } else if (xhttp.status == 400) {
                            alert("There was an error 400");
                        } else {
                            alert("Something else other than 200 was returned");
                        }
                    }
                }
                xhttp.open("GET", "detail/" + projectId, true);
                xhttp.send();
            })();'>Learn More</button>
        </div>
    </div>
    {% endfor %}
</div>
<div id="myDiv">
</div>
{% endif %}
{% endblock %}

{% block viewjs %}
<script src="{% static 'projects/dist/js/projects.js' %}"></script>
{% endblock %}