{% extends 'base_page_view.html' %}
{% load static %}

{% block content %}
<div class="page-title border-bottom">
    <h1 class="display-5 font-family-roboto">Projects</h1>
</div>
{% for project in all_projects %}
<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 text-center my-3">
        <div>
            <div class="font-family-roboto font-bold">
                {{project.title}}
            </div>
            <div>
                {% if project.cover_image %}
                <img src="{{project.cover_image.url}}" height="256px" width="256px" style="border: 1px solid black;">
                {% else %}
                <img src="../media/project/cover_images/empty.jpg" height="256px" width="256px"
                    style="border: 1px solid black;">
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-8 mt-5 proj-desc">
        {{project.description}}
        <div class="row">
            <div class="col">
                <button class="btn btn-outline-info mt-4">Read More</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}