{% extends 'base_page_view.html' %}
{% load static %}

{% block viewcss %}
<!-- Projects CSS -->
<link rel="stylesheet" href="{% static 'projects/dist/css/projects.css' %}">
{% endblock viewcss %}

{% block content %}
<div class="page-title border-bottom">
    <h1 class="display-5 font-family-roboto">Projects</h1>
</div>
{% if all_projects %}
{% for project in all_projects %}
<div class="row">
</div>
<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 text-center my-3">
        {% if project.cover_image %}
        <a><img src="{{project.cover_image.url}}" height="256px" width="256px" style="border: 1px solid black;"></a>
        {% else %}
        <a><img src="../media/project/cover_images/empty.jpg" height="256px" width="256px" style="border: 1px solid black; position: relative;"></a>
        {% endif %}
    </div>
    <div class="col-xl col-lg-8">
        <div class="text-justify">
            <div class="proj-desc">
                <h5>{{project.title}}</h5>    
                {{project.description}}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div>
    <h2 class="display-5 font-family-roboto font-medium text-center my-5">No projects to display...</h1>
</div>
{% endif %}
{% endblock %}