{% extends "base_page_view.html" %}
{% load static %}

{% block viewcss %}
<!-- About CSS -->
<link rel="stylesheet" href="{% static 'aboutme/dist/css/about.css' %}">
{% endblock viewcss %}

{% block content %}

{% if introduction %}

<div class="my-aboutme">
    <div class="row">

        <div class="col-md-12 col-lg-6 col-xl-6">

            {% if introduction.profile_image %}

            <img class="rounded img-fluid my-image" src="{{ introduction.profile_image.url }}" alt="Empty">

            {% else %}

            <img class="rounded img-fluid" src="{% static 'images/profile.png' %}" alt="Empty">

            {% endif %}

        </div>

        <div class="col-md-12 col-lg-6 col-xl-6">
            <h1 class="text-left my-introduction-title font-bold">
                {{ introduction.title }}
            </h1>

            {% if introduction_contents %}
            {% for content in introduction_contents %}
            <p class="text-left my-introduction-paragraph font-medium">
                {{ content.paragraph }}</p>
            {% endfor %}
            {% endif %}
        </div>

    </div>
</div>

{% else %}

<div class="my-aboutme">
    <div class="row">

        <div class="col-md-6 col-xl-6">
            <img class="rounded my-intro-image" src="{% static 'images/profile.png' %}" alt="Empty">
        </div>

        <div class="col-md-6 col-xl-6">
            <h2 class="my-title font-family-roboto font-medium">First and Last Name</h2>
            <p class="text-justify font-family-roboto font-light" style="font-size: 1.1rem;">
                Use the margin and padding spacing utilities to
                control how
                elements and components are spaced and
                sized. Bootstrap 4 includes a five-level scale for spacing utilities, based on a 1rem value default
                $spacer variable. Choose values for all viewports (e.g., .mr-3 for margin-right: 1rem), or pick
                responsive variants to target specific viewports (e.g., .mr-md-3 for margin-right: 1rem starting at
                the
                md breakpoint)</p>
        </div>

    </div>
</div>

{% endif %}

{% if sections %}

{% for section in sections %}
<div class="my-group">
    <div class="page-title border-bottom">
        <h2 class="my-title font-family-roboto font-medium">{{ section.title }}</h2>
    </div>

    {% for content in contents %}
    {% if content.section.title == section.title %}
    <div class="row row-cols-1 row-cols-md-3 mt-4">
        <div class="col mb-4">
            <div class="card">
                {% if content.image %}
                <div class="my-card-image">
                    <img src="{{ content.image.url }}" class="card-img-top rounded my-image" alt="Responsive image">
                </div>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">{{ content.title }}</h5>
                    <p class="card-text font-family-roboto font-regular">{{ content.description }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endfor %}

{% else %}

<div class="my-group">
    <div class="page-title">
        <h2 class="my-title font-family-roboto font-medium">Section 1</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 pt-2">
        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-group">
    <div class="page-title">
        <h2 class="my-title font-family-roboto font-medium">Section 2</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 pt-2">
        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="my-card-image">
                    <img src="{% static 'images/profile.png' %}" class="card-img-top rounded my-image"
                        alt="Responsive image">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-family-roboto font-bold">Placeholder Title</h5>
                    <p class="card-text font-family-roboto font-regular">Placeholder description for each card.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}


{% endblock content %}