{% extends 'base_page_view.html' %}
{% load static %}

{% block content %}
<div class="page-title border-bottom">
    <h1 class="display-4">Projects</h1>
</div>
<div class="my-2">
    Project Name
</div>
<div class="row">
    <div class="col-md-5 col-lg-4 col-xl-3 project-image">
        <img src="{% static 'media/potato.png' %}" height="256px" width="256px" style="border: 1px solid black;">
    </div>
    <div class="col">
        <div class="row">
            <div class="col-lg-10">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut est augue, blandit vel sem nec,
                    facilisis
                    molestie ante. Suspendisse tincidunt mi ac tempor vestibulum. Nulla congue ac augue vitae fermentum.
                    Ut
                    luctus magna ante, vel auctor est commodo vitae. Suspendisse tempor eu felis sit amet dapibus. Nunc
                    ac
                    pellentesque lacus. Duis congue laoreet turpis, vitae condimentum mi interdum et. Ut pulvinar
                    convallis
                    purus, eu rutrum est pulvinar id. Proin sed interdum metus. Donec id ante dapibus, dignissim velit
                    non,
                    rutrum erat. Nam tempor convallis iaculis. Nulla lacinia sit amet turpis sit amet dignissim.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-secondary">Read More</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}