<nav class="navbar fixed-top navbar-expand-lg navbar-light justify-content-start navbar-container">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a id="my-current-view" class="navbar-brand font-medium m-0 pl-3 d-block d-lg-none" href=""></a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link {% if request.path == about_me %}active{% endif %}"
                    href="{% url 'about-me' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == projects %}active{% endif %}"
                    href="{% url 'projects' %}">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == blog %}active{% endif %}"
                    href="{% url 'blog' %}">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>

        <ul class="navbar-nav mt-2 my-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">LinkedIn</a>
            </li>
        </ul>
    </div>
</nav>