{% extends "base_page_view.html" %}
{% load static %}

{% block viewcss %}
<!-- Blog CSS -->
<link rel="stylesheet" href="{% static 'blog/dist/css/blog.css' %}">

<!-- Prism CSS -->
<link rel="stylesheet" href="{% static 'libs/prism/dist/css/prism_light.css' %}">
{% endblock viewcss %}

{% block content %}

<div class="my-blog">
    {% if post_detail %}

    <div class="d-flex flex-column">
        <h1 style="font-size: 35px;" class="font-bold">{{ post_detail.post_overview.title }}</h1>

        <div class="d-flex flex-row">
            {% with creation_date=post_detail.post_overview.creation_date|date:'F j, Y, P' %}
            {% with modified_date=post_detail.post_overview.modified_date|date:'F j, Y, P' %}

            {% if creation_date == modified_date %}
            <div style="margin-right: 4px; display: flex; align-items: center;">
                <svg style="fill: #777777;" xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                    enable-background="new 0 0 443.294 443.294" height="14" viewBox="0 0 443.294 443.294"
                    width="14">
                    <path
                        d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z" />
                    <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z" />
                </svg>
            </div>
            <p style="margin: 0 8px 0 0; font-size: 14.6px; color: #777777;">
                {{ post_detail.post_overview.creation_date|date:'F j, Y' }}
            </p>
            {% else %}
            <div style="margin-right: 4px; display: flex; align-items: center;">
                <svg style="fill: #777777;" xmlns="http://www.w3.org/2000/svg" id="Capa_1"
                    enable-background="new 0 0 443.294 443.294" height="14" viewBox="0 0 443.294 443.294"
                    width="14">
                    <path
                        d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647 221.647 221.647 221.647-99.433 221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941 0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941 193.941-87 193.941-193.941 193.941z" />
                    <path d="m235.5 83.118h-27.706v144.265l87.176 87.176 19.589-19.589-79.059-79.059z" />
                </svg>
            </div>

            <p style="margin: 0 8px 0 0; font-size: 14.6px; color: #777777;">
                {{ post_detail.post_overview.creation_date|date:'F j, Y' }}
            </p>

            <div style="margin-right: 4px; display: flex; align-items: center;">
                <svg style="fill: #777777;" xmlns="http://www.w3.org/2000/svg" height="14"
                    viewBox="0 -1 401.52289 401" width="14">
                    <path
                        d="m370.589844 250.972656c-5.523438 0-10 4.476563-10 10v88.789063c-.019532 16.5625-13.4375 29.984375-30 30h-280.589844c-16.5625-.015625-29.980469-13.4375-30-30v-260.589844c.019531-16.558594 13.4375-29.980469 30-30h88.789062c5.523438 0 10-4.476563 10-10 0-5.519531-4.476562-10-10-10h-88.789062c-27.601562.03125-49.96875 22.398437-50 50v260.59375c.03125 27.601563 22.398438 49.96875 50 50h280.589844c27.601562-.03125 49.96875-22.398437 50-50v-88.792969c0-5.523437-4.476563-10-10-10zm0 0" />
                    <path
                        d="m376.628906 13.441406c-17.574218-17.574218-46.066406-17.574218-63.640625 0l-178.40625 178.40625c-1.222656 1.222656-2.105469 2.738282-2.566406 4.402344l-23.460937 84.699219c-.964844 3.472656.015624 7.191406 2.5625 9.742187 2.550781 2.546875 6.269531 3.527344 9.742187 2.566406l84.699219-23.464843c1.664062-.460938 3.179687-1.34375 4.402344-2.566407l178.402343-178.410156c17.546875-17.585937 17.546875-46.054687 0-63.640625zm-220.257812 184.90625 146.011718-146.015625 47.089844 47.089844-146.015625 146.015625zm-9.40625 18.875 37.621094 37.625-52.039063 14.417969zm227.257812-142.546875-10.605468 10.605469-47.09375-47.09375 10.609374-10.605469c9.761719-9.761719 25.589844-9.761719 35.351563 0l11.738281 11.734375c9.746094 9.773438 9.746094 25.589844 0 35.359375zm0 0" />
                </svg>
            </div>
            <p style="margin: 0; font-size: 14.6px; color: #777777;">
                {{ post_detail.post_overview.modified_date|date:'F j, Y' }}
            </p>
            {% endif %}

            {% endwith %}
            {% endwith %}
        </div>
    </div>

    <hr>

    {{ post_detail.content|safe }}

    <hr>

    <div class="d-flex flex-row" style="margin-bottom: 16px;">
        <p style="margin: 0 8px 0 0;">Tags:</p>
        {% for tag in post_detail.post_overview.tags.all %}
        <div class="rounded-text" style="margin-right: 8px;">
            {{ tag.name }}
        </div>
        {% endfor %}
    </div>


    {% if post_detail.previous_post or post_detail.next_post %}
    <div class="my-footer-post">

        <div class="row">

            <div class="col-12 col-md-6 vert">
                {% if post_detail.previous_post %}
                <a href="{% url 'post' post_detail.previous_post.post_overview.pk %}" style="height: 100%;">
                    <div class="row no-gutters" style="height: 100%;">
                        <div class="col-3 col-sm-3 text-center" style="margin: auto;">
                            <i class="arrow-left"></i>
                        </div>
                        <div class="col-9 col-sm-9 text-left">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <strong style="font-size: 12.8px;">Previous Post</strong>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <h6 style="font-weight: bold;">
                                        {{post_detail.previous_post.post_overview.title }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>

            <div class="col-12 col-md-6 vert">
                {% if post_detail.next_post %}
                <a href="{% url 'post' post_detail.next_post.post_overview.pk %}" style="height: 100%;">
                    <div class="row no-gutters" style="height: 100%;">
                        <div class="col-9 col-sm-9 text-right">
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <strong style="font-size: 12.8px;">Next Post</strong>
                                </div>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-12">
                                    <h6 style="font-weight: bold;">
                                        {{post_detail.next_post.post_overview.title }}
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 col-sm-3 text-center" style="margin: auto;">
                            <i class="arrow-right"></i>
                        </div>
                    </div>
                </a>
                {% endif %}
            </div>

        </div>

    </div>
    {% endif %}

    {% endif %}
</div>
{% endblock %}

{% block viewjs %}
<!-- Prism JS-->
<script src="{% static 'libs/prism/dist/js/prism_light.js' %}"></script>
{% endblock viewjs %}