{% extends "base_page_view.html" %}
{% load static %}

{% block viewcss %}
<!-- Blog CSS -->
<link rel="stylesheet" href="{% static 'blog/dist/css/blog.css' %}">
{% endblock viewcss %}

{% block content %}

<div class="my-blog">

    {% if post_overviews %}
    {% for post in post_overviews %}
    <div class="d-flex flex-column" style="padding: 18px 0;">
        <div>
            <h3 class="font-bold blog-title"><a href="{% url 'post' post.pk %}">{{ post.title }}</a></h3>
        </div>

        <p class="text-block">{{ post.overview }}</p>

        <div class="d-flex flex-row">
            {% for tag in post.tags.all %}
            <div class="rounded-text" style="margin-right: 8px;">
                {{ tag.name }}
            </div>
            {% endfor %}
            <div>{{ post.estimated_time }} min read</div>
        </div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}

{% block viewjs %}
<!-- Prism JS-->
<script src="{% static 'libs/prism/dist/js/prism.js' %}"></script>
<!-- Blog JS -->
<script src="{% static 'blog/dist/js/blog.js' %}"></script>
{% endblock viewjs %}